# =========================
# Python
# =========================
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Flask Instance & Database
# =========================
instance/
*.db

# =========================
# Node
# =========================
node_modules/
dist/

# =========================
# Environment
# =========================
.env

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db