# =========================
# Python
# =========================
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
db.sqlite3

# =========================
# Node
# =========================
node_modules/
dist/

# =========================
# Environment
# =========================
.env

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db